<h1>Result of images goes here <%= @lucky_draw %></h1>

<% @hash[0..4].each do |test|%>
  <%= test["pagemap"]["cse_image"][0]["src"] %><br><br>
<% end %>

<% if @hash %>
  <div style="border: 3px red solid">
    <a href="<%= @hash.first["pagemap"]["cse_image"][0]["src"] %>"><img src="<%= @hash.first["pagemap"]["cse_image"][0]["src"] %>" width="400px"/></a>
  </div>
  <br>
  <br>
  <% @hash[1..4].each do |a| %>
    <div style="border: 2px blue solid; float: left"> 
      <a href="<%= a["pagemap"]["cse_image"][0]["src"] %>"><img src="<%= a["pagemap"]["cse_image"][0]["src"] %>" width="200px"/></a><br><br>
    </div>
  <% end %>
<% end %>