<a href="/"><button>Back</button></a><a href="/past"><button>Search past results</button></a>
<h1 style="text-align: center">Result for <%= @lucky_draw %></h1>
<% if @hash %>
  <div style="text-align: center">
    <a href="<%= @hash.first["pagemap"]["cse_image"][0]["src"] %>"><img src="<%= @hash.first["pagemap"]["cse_image"][0]["src"] %>" width="400px" style="border: 6px blue solid"/></a>
  </div>
  <div style="margin-left: 300px">
    <% @hash[1..4].each do |a| %>
      <div style="float: left; margin: 15px"> 
        <img src="<%= a["pagemap"]["cse_image"][0]["src"] %>" width="200px"/>
      </div>
    <% end %>
  </div>
<% end %>
<hr>

<hr>

<%#= @past_search_results.html_safe %>
<br>
<br>
<%= raw @past_search_results %>